[submodule "termbox2"]
	path = lib/termbox2
	url = https://github.com/termbox/termbox2
[submodule "c-vector"]
	path = lib/c-vector
	url = https://github.com/eteran/c-vector
[submodule "manweb"]
	path = manweb
	url = https://github.com/NikitaIvanovV/manweb
